<%= form_for(@order) do |f| %>
  <div class="col-sm-6 margin-b-30">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.label :user %>
          <%= f.text_field :user, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Full Address*</label>
          <input type="text" class="form-control" placeholder="124, Lorem Street.."> </div>
      </div>
    </div>
  </div>
<% end %>
