<tr>
  <td>
    <%= order.user.name %>
  </td>
  <td>
    <%= order.phone %>
  </td>
  <td>
    <%= order.address.name %>
  </td>
  <td>
    <%= order.total %>
  </td>
  <td>
    <%= order.created_at %>
  </td>
  <td>
    <% if order.orders_pendding? %>
      <span class="badge badge-danger text-danger"><%= order.status %></span>
    <% elsif order.orders_aprove? %>
      <span class="badge badge-warning text-warning"><%= order.status %></span>
    <% elsif order.orders_processing? %>
      <span class="badge badge-success text-success"><%= order.status %></span>
    <% else %>
      <span class="badge badge-secondary text-secondary"><%= order.status %></span>
    <% end %>
  </td>
  <td>
  </td>
</tr>
